<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset= "UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Error Page</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href = "/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <h1>
            404
        </h1>
        <h5>Uh, Oh! We've experienced some technical difficulties.</h5>
        <script src="js/app.js"></script>
    </body>
</html>